<div class="ui-widget-header ui-corner-all" style="padding: 0pt 10px;">
  <p class="package">About Us</p>
</div>

<br/>

<div class="ui-widget-content ui-corner-all">
  <%# shuffle para não aparecer sempre do mesmo jeito ;D %>
  <% @abouts.shuffle.each do |about| %>
  <table border="0" class="about_us" cellspacing="5">
    <tr>
      <td rowspan="6"
          class="td_photo ui-corner-all">
        <%= image_tag about.url_photo, :class => "about_us_photo ui-corner-all" %>
      </td>
    </tr>
    <tr>
      <td><b>Name</b>:<br/><%=h about.name %></td>
    </tr>
    <tr>
      <td><b>Bio</b>:<br/><%= about.bio %></td>
    </tr>
    <tr>
      <td><b>Twitter</b>:<br/><%=h about.twitter %></td>
    </tr>
    <tr>
      <td><b>Website</b>:<br/><%=h about.website %></td>
    </tr>
    <tr>
      <td><b>E-mail</b>:<br/><%=h about.email %></td>
    </tr>
  </table>
  <% end %>
</div>

<%#= link_to 'New about', new_about_path %>